%% -*- erlang -*-
{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            {i, "./_build/default/plugins/gpb/include"}
           ]}.

{cover_export_enabled, true}.
{cover_enabled, true}.

{deps, [
        {blockchain, {git, "git@github.com:helium/blockchain-core.git",
                      {branch, "adt/more-async-txns"}}},
        {hbbft, {git, "https://github.com/helium/erlang-hbbft.git", {branch, "master"}}},
        {dkg, {git, "https://github.com/helium/erlang-dkg.git", {branch, "master"}}},
        {ecc508, {git, "https://github.com/helium/ecc508.git", {branch, "master"}}},
        {ebus, {git, "https://github.com/helium/ebus.git", {branch, "master"}}},
        {helium_proto, ".*", {git, "https://github.com/helium/proto.git", {branch, "master"}}},
        recon
       ]}.

{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               %locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.

{plugins, [
           rebar3_gpb_plugin,
           {rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}}
          ]}.

{gpb_opts, [
    {i, "src"},
    {o_erl, "src/pb"},
    {o_hrl, "src/pb"},
    {msg_name_prefix, "miner_"},
    {msg_name_suffix, "_pb"},
    {module_name_suffix, "_pb"},
    {strings_as_binaries, false},
    type_specs
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{profiles, [
            {dev, [
                   {relx, [
                           {release, {'miner', "0.1.0"},
                            [miner, observer, runtime_tools, tools,wx, recon]},
                           {sys_config, "./config/dev.config"},
                           {overlay,
                            [
                             {copy, "config/sys.config", "config/sys.config"},
                             {copy, "scripts/extensions/genesis", "bin/extensions/genesis"},
                             {copy, "scripts/extensions/hbbft", "bin/extensions/hbbft"},
                             {copy, "scripts/extensions/info", "bin/extensions/info"},
                             {copy, "scripts/extensions/dkg", "bin/extensions/dkg"},
                             {copy, "scripts/extensions/authorize", "bin/extensions/authorize"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/peer", "bin/extensions/peer"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/ledger", "bin/extensions/ledger"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/trace", "bin/extensions/trace"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/txn", "bin/extensions/txn"},
                             {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
                            ]},
                           {extended_start_script_hooks,
                            [
                             {post_start,
                              [
                               {wait_for_process, blockchain_worker}
                              ]}
                            ]},
                           {generate_start_script, true},
                           {extended_start_script, true},
                           {extended_start_script_extensions,
                            [
                             {genesis, "extensions/genesis"},
                             {hbbft, "extensions/hbbft"},
                             {peer, "extensions/peer"},
                             {ledger, "extensions/ledger"},
                             {info, "extensions/info"},
                             {trace, "extensions/trace"},
                             {txn, "extensions/txn"},
                             {dkg, "extensions/dkg"},
                             {authorize, "extensions/authorize"}
                            ]},
                           {dev_mode, true},
                           {include_erts, false}]}]
            },
            {aws, [
                   {relx, [
                           {release, {'miner', "0.1.0"},
                            [miner, observer, runtime_tools, tools,wx, recon]},
                           {sys_config, "./config/aws.config"},
                           {overlay,
                            [
                             {copy, "config/sys.config", "config/sys.config"},
                             {copy, "scripts/extensions/genesis", "bin/extensions/genesis"},
                             {copy, "scripts/extensions/hbbft", "bin/extensions/hbbft"},
                             {copy, "scripts/extensions/info", "bin/extensions/info"},
                             {copy, "scripts/extensions/dkg", "bin/extensions/dkg"},
                             {copy, "scripts/extensions/authorize", "bin/extensions/authorize"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/peer", "bin/extensions/peer"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/ledger", "bin/extensions/ledger"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/trace", "bin/extensions/trace"},
                             {copy, "./_build/default/lib/blockchain/scripts/extensions/txn", "bin/extensions/txn"},
                             {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
                            ]},
                           {extended_start_script_hooks,
                            [
                             {post_start,
                              [
                               {wait_for_process, blockchain_worker}
                              ]}
                            ]},
                           {generate_start_script, true},
                           {extended_start_script, true},
                           {extended_start_script_extensions,
                            [
                             {genesis, "extensions/genesis"},
                             {hbbft, "extensions/hbbft"},
                             {peer, "extensions/peer"},
                             {ledger, "extensions/ledger"},
                             {info, "extensions/info"},
                             {trace, "extensions/trace"},
                             {txn, "extensions/txn"},
                             {dkg, "extensions/dkg"},
                             {authorize, "extensions/authorize"}
                            ]},
                           {dev_mode, true},
                           {include_erts, false}]}]
            },
            {miner1, [{relx, [{release, {'miner1', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {miner2, [{relx, [{release, {'miner2', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {miner3, [{relx, [{release, {'miner3', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {miner4, [{relx, [{release, {'miner4', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {miner5, [{relx, [{release, {'miner5', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {miner6, [{relx, [{release, {'miner6', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {miner7, [{relx, [{release, {'miner7', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {miner8, [{relx, [{release, {'miner8', "0.1.0"}, [miner, observer, runtime_tools, tools, wx, recon]}]}]},
            {prod, [
                    {relx, [
                            {release, {miner, "0.1.0"},
                             [miner,
                              observer,
                              tools,
                              runtime_tools,
                              recon]},
                            {sys_config, "./config/sys.config"},
                            {dev_mode, false},
                            {include_src, false},
                            {system_libs, false},
                            {overlay, [
                                       {copy, "scripts/extensions/genesis", "bin/extensions/genesis"},
                                       {copy, "scripts/extensions/hbbft", "bin/extensions/hbbft"},
                                       {copy, "scripts/extensions/info", "bin/extensions/info"},
                                       {copy, "scripts/extensions/dkg", "bin/extensions/dkg"},
                                       {copy, "scripts/extensions/authorize", "bin/extensions/authorize"},
                                       {copy, "./_build/default/lib/blockchain/scripts/extensions/peer", "bin/extensions/peer"},
                                       {copy, "./_build/default/lib/blockchain/scripts/extensions/ledger", "bin/extensions/ledger"},
                                       {copy, "./_build/default/lib/blockchain/scripts/extensions/trace", "bin/extensions/trace"},
                                       {copy, "./_build/default/lib/blockchain/scripts/extensions/txn", "bin/extensions/txn"},
                                       {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
                                      ]},
                            {extended_start_script_hooks, [
                                                           {post_start, [
                                                                         {wait_for_process, blockchain_worker}
                                                                        ]}
                                                          ]},
                            {generate_start_script, true},
                            {extended_start_script, true},
                            {extended_start_script_extensions, [
                                                                {genesis, "extensions/genesis"},
                                                                {hbbft, "extensions/hbbft"},
                                                                {peer, "extensions/peer"},
                                                                {ledger, "extensions/ledger"},
                                                                {info, "extensions/info"},
                                                                {trace, "extensions/trace"},
                                                                {txn, "extensions/txn"},
                                                                {dkg, "extensions/dkg"},
                                                                {authorize, "extensions/authorize"}
                                                               ]},
                            {include_erts, false}]}]
            },
            {test,
             [
              {erl_opts, [nowarn_export_all]},
              {deps, [{meck, "0.8.12"}]}
             ]}
]}.

{ct_opts,
 [{sys_config, "config/dev.config"}]}.
