{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
        {blockchain, ".*", {git, "git@github.com:helium/blockchain-core.git", {branch, "master"}}},
        {hbbft, ".*", {git, "https://github.com/helium/erlang-hbbft.git", {branch, "master"}}},
        {dkg, ".*", {git, "https://github.com/helium/erlang-dkg.git", {branch, "master"}}}
       ]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
