%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"}
  ]},
 {blockchain,
  [
   {ports, [443, 2154]},
   {key, undefined},
   {base_dir, "data"},
   {seed_nodes, "/ip4/34.222.64.221/tcp/2154,/ip4/34.208.255.251/tcp/2154"},
   {seed_node_dns, "seed.helium.foundation"},
   {max_inbound_connections, 24},
   {outbound_gossip_connections, 2},
   {relay_limit, 100}
  ]},
 {miner,
  [
   {use_ebus, false},
   {block_time, 1000},
   {election_interval, 15},
   {dkg_stop_timeout, 15000},
   {radio_device, undefined}
  ]}
].
