%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"}
  ]},
 {blockchain,
  [
   {honor_assumed_valid, false},
   {assumed_valid_block_hash, undefined},
   {port, 0},
   {key, undefined},
   {num_consensus_members, 7},
   {base_dir, "data"},
   {seed_nodes, ""},
   {seed_nodes_dns, ""},
   {peerbook_update_interval, 60000},
   {peer_cache_timeout, 200}
  ]},
 {miner,
  [
   {use_ebus, false},
   {block_time, 1000},
   {election_interval, 15},
   {dkg_stop_timeout, 15000},
   {radio_device, undefined}
  ]}
].
