%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"}
  ]},
 {blockchain,
  [
   {listen_addresses, ["/ip4/0.0.0.0/tcp/0"]},
   {num_consensus_members, 4},
   {validation_width, 8},
   {key, undefined},
   {relay_limit, 0},
   {base_dir, "data"},
   {snapshot_memory_limit, 2048},
   {gw_cache_retention_limit, 0},
   {gw_context_cache_max_size, 0}
  ]},
 {miner,
  [
   {jsonrpc_port, 0},
   {use_ebus, false},
   {block_time, 3000},
   {election_interval, 15},
   {dkg_stop_timeout, 15000},
   {write_failed_txns, true},
   {radio_device, undefined},
   {stabilization_period_start, 2},
   %% dont perform regionalised checks in dev envs
   %% we only realy need the params below if this file is changed to specify a radio device
   %% as without one miner_lora is not started
   %% including the params anyway in case someone needs it in this env
   {region_override, 'US915'}

  ]}
].
