%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"}
  ]},
 {blockchain,
  [
   {port, 0},
   {num_consensus_members, 4},
   {validation_width, 8},
   {key, undefined},
   {relay_limit, 0},
   {base_dir, "data"}
  ]},
 {miner,
  [
   {use_ebus, false},
   {block_time, 3000},
   {election_interval, 15},
   {dkg_stop_timeout, 15000},
   {write_failed_txns, true},
   {radio_device, undefined},
   {stabilization_period_start, 2},
   %% dont perform regionalised checks in dev envs
   %% we only realy need the params below if this file is changed to specify a radio device
   %% as without one miner_lora is not started
   %% including the params anyway in case someone needs it in a dev env
   {override_reg_domain_check, true},
   %% use defaults below for dev envs in US / zone 2 locations
   {default_reg_region, 'US915'},
   {default_reg_geo_zone, 'zone2'},
   {default_reg_freq_list, [903.9, 904.1, 904.3, 904.5, 904.7, 904.9, 905.1, 905.3]}
   %% use defaults below for dev envs in EU / zone 1 locations
   %%{default_reg_region, 'EU868'},
   %%{default_reg_geo_zone, 'zone1'},
   %%{default_reg_freq_list, [867.1, 867.3, 867.5, 867.7, 867.9, 868.1, 868.3, 868.5]}

  ]}
].
