%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/data/log"}
    ]},
  {blockchain,
    [
      {key, undefined}
    ]},
  {miner,
    [
     {denylist_keys, ["1SbEYKju337P6aYsRd9DT2k4qgK5ZK62kXbSvnJgqeaxK3hqQrYURZjL"]},
     {denylist_type, github_release},
     {denylist_url, "https://api.github.com/repos/helium/denylist/releases/latest"},
     {jsonrpc_ip, {0,0,0,0}}, %% bind jsonrpc to host when in docker container
     {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} },
     {use_ebus, false}
    ]}
].
