%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/data/log"}
    ]},
  {blockchain,
    [
      {key, undefined}
    ]},
  {miner,
    [
     {gateway_and_mux_enable, true},
     {jsonrpc_ip, {0,0,0,0}}, %% bind jsonrpc to host when in docker container
     {radio_device, { {0,0,0,0}, 1680, %% change to 1681 when activating mux+gateway-rs
        {0,0,0,0}, 31341} },
     {use_ebus, false}
    ]}
].
