%% -*- erlang -*-
%%
%% This file is intentionally empty to reflect that under normal operation,
%% the default values defined in the `testnet-sys.config` base file for the
%% testnet assume a testnet hotspot as the default system being configured
%% and does not need to be further modified. Place your local changes, only
%% if needed here.
%%
[
  "config/sys.config",
  %% Example, empty overridden stanza, required for syntax.
  {blockchain,
    [
    ]},
  {miner,
    [
    ]}
].
