%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "/var/log/"},
   {handlers,
    [
     {lager_file_backend, [{file, "console.log"}, {size, 52428800}, {level, info}]},
     {lager_file_backend, [{file, "error.log"}, {size, 52428800}, {level, error}]}
    ]}
  ]},
 {blockchain,
  [
   {ports, [2155]}, % tmp, maybe perm?
   {honor_quick_sync, false},  % clean this up to have its own mode?
   {quick_sync_mode, assumed_valid},
   {validation_width, 8},
   {key, undefined},
   {relay_limit, 100},
   {base_dir, "/var/data"},
   {gw_cache_retention_limit, 76},
   {gw_context_cache_max_size, 500}
  ]},
 {miner,
  [
   {mode, validator},
   %% these two now disable all the poc stuff
   {use_ebus, false},
   {radio_device, undefined},
   %% dont perform regionalised checks in dev envs
   %% we only realy need the params below if this file is changed to specify a radio device
   %% as without one miner_lora is not started
   %% including the params anyway in case someone needs it in this env
   {region_override, 'US915'}

  ]}
].
