%% -*- erlang -*-
%% THIS CONFIGURATION FILE WILL BE OVERWRITTEN BY THE DOCKER HOST AT
%% RUNTIME. DO NOT EXPECT ITS CONTENTS TO HAVE ANY EFFECT. IT IS HERE
%% AS A PLACEHOLDER, ONLY.
[
  "config/sys.config", %% This will in fact be testnet-base.config
  {miner,
    [
     {network, testnet}
    ]}
].
