%% -*- erlang -*-
%%
%% This file is intentionally empty to reflect that under normal operation, it
%% does not need to be modified. Place your local changes, only if needed,
%% here.
%%
[
  "config/sys.config",
  %% Example, empty overridden stanza, required for syntax.
  {blockchain,
    [
    ]}
].
