{plugins, [
    {grpcbox_plugin,
        {git, "https://github.com/andymck/grpcbox_plugin.git",
            {branch, "andymck/ts-master/combined-opts-and-template-changes"}}}
    }
]}.

{grpc, [
    {proto_files, [
        "_build/default/lib/helium_proto/src/service/local.proto"
    ]},
    {beam_out_dir, "src/grpc/autogen/client"},
    {out_dir, "src/grpc/autogen/client"},
    {keep_beams, false},
    {create_services, false},
    {override_gpb_defaults, true},
    {gpb_opts, [
        {rename, {msg_fqname,basename}},
        use_packages,
        {report_errors, false},
        {descriptor, false},
        {recursive, false},
        {i, "_build/default/lib/helium_proto/src"},
        {o, "src/grpc/autogen/client"},
        {module_name_prefix, ""},
        {module_name_suffix, "_miner_client_pb"},
        {rename, {msg_name, {suffix, "_pb"}}},
        {strings_as_binaries, false},
        type_specs,
        {defs_as_proplists, true}
    ]}
]}.
