{plugins, [
    {grpcbox_plugin,
        {git, "https://github.com/andymck/grpcbox_plugin.git",
            {branch, "andymck/ts-master/combined-opts-and-template-changes"}}}
]}.

{grpc, [
    {proto_files, [
        "_build/default/lib/helium_proto/src/service/gateway.proto"
    ]},
    {out_dir, "_build/default/lib/sibyl/src/grpc/autogen/server"},
    {beam_out_dir, "_build/default/lib/sibyl/src/grpc/autogen/server"},
    {keep_beams, false},
    {override_gpb_defaults, true},
    {gpb_opts, [
        {rename,{msg_fqname,base_name}},
        use_packages,
        {defs_as_proplists, true},
        {report_errors, false},
        {descriptor, false},
        {recursive, false},
        {descriptor, false},
        {recursive, false},
        {i, "_build/default/lib/helium_proto/src"},
        {o, "_build/default/lib/sibyl/src/grpc/autogen/server"},
        {module_name_prefix, ""},
        {module_name_suffix, "_pb"},
        {rename, {msg_name, {suffix, "_pb"}}},
        {strings_as_binaries, false},
        type_specs
    ]}
]}.
