{plugins, [
    {grpcbox_plugin,
        {git, "https://github.com/andymck/grpcbox_plugin.git",
            {branch, "master"}}}
]}.

{grpc, [
    {proto_files, [
        "_build/default/lib/helium_proto/src/service/validator.proto"
    ]},
    {out_dir, "_build/default/lib/sibyl/src/grpc/autogen/server"},
    {beam_out_dir, "_build/default/lib/sibyl/src/grpc/autogen/server"},
    {keep_beams, false},
    {gpb_opts, [
        {descriptor, false},
        {recursive, false},
        {i, "_build/default/lib/helium_proto/src"},
        {module_name_prefix, ""},
        {module_name_suffix, "_pb"},
        {rename, {msg_name, {suffix, "_pb"}}},
        {strings_as_binaries, false},
        type_specs
    ]}
]}.