{plugins, [
    {grpcbox_plugin,
        {git, "https://github.com/andymck/grpcbox_plugin.git",
            {branch, "andymck/server-support-for-continue-response"}}}
]}.

{grpc, [
    {protos, ["_build/default/lib/helium_proto/src/service/"]},
    {out_dir, "_build/default/lib/sibyl/src/grpc/autogen/client"},
    {create_services, false},
    {gpb_opts, [
        {descriptor, false},
        {recursive, false},
        {i, "_build/default/lib/helium_proto/src"},
        {module_name_prefix, ""},
        {module_name_suffix, "_client_pb"},
        {rename, {msg_name, {suffix, "_pb"}}},
        {strings_as_binaries, false},
        type_specs,
        {defs_as_proplists, false},
        maps
    ]}
]}.