%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "/var/data/log/miner"}
  ]},
 {blockchain,
  [
   {ports, [443, 2154]},
   {key, undefined},
   {autoload, false},
   {base_dir, "/var/data/miner"},
   {max_inbound_connections, 30000},
   {outbound_gossip_connections, 2},
   {peerbook_update_interval, 45000},
   {gossip_width, 10},
   {relay_limit, 500}
  ]},
 {prometheus,
  [
   {collectors, [
                 prometheus_counter,
                 prometheus_gauge
                ]},
   {vm_system_info_collector_metrics, []}
  ]},
 {libp2p,
  [
   {arp_limit, 300},
   {listen_backlog, 4096},
   {seed_node, true},
   {max_tcp_connections, 30000},
   {sidejob_limit, 30000},
   {num_tcp_acceptors, 50},
   %% seed nodes don't have a ledger so don't know about validators
   {random_peer_pred, fun miner_util:true_predicate/1}
  ]},
 {miner,
  [
   {denylist_keys, undefined},
   {use_ebus, false},
   {block_time, 1000},
   {election_interval, 15},
   {dkg_stop_timeout, 15000},
   {radio_device, undefined},
   {gateway_and_mux_enable, false}
  ]}
].
