%% -*- erlang -*-
[
 {kernel,
  [
   %% force distributed erlang to only run on localhost
   {inet_dist_use_interface, {127,0,0,1}}
  ]},
 {lager,
  [
   {suppress_supervisor_start_stop, true},
   {log_root, "/var/log/miner"},
   {crash_log, "crash.log"},
   {colored, true},
   {metadata_whitelist, [poc_id]},
   {handlers,
    [
     {lager_file_backend, [{file, "console.log"}, {level, info}]},
     {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]},
 {blockchain,
  [
   {honor_assumed_valid, true},

   {assumed_valid_block_height, 310084},
   {assumed_valid_block_hash,
    <<249,192,5,97,196,103,146,131,192,168,140,2,224,59,97,105,192,90,40,148,10,215,215,36,54,87,127,48,110,145,153,201>>},
   {port, 44158},
   {key, {ecc, [{key_slot, 0}, {onboarding_key_slot, 15}]}}, %% don't make this the last line in the stanza because sed and keep it on one line
   {base_dir, "/var/data"},
   {num_consensus_members, 16},
   {seed_nodes, "/ip4/34.222.64.221/tcp/2154,/ip4/34.208.255.251/tcp/2154"},
   {seed_node_dns, "seed.helium.foundation"},
   {peerbook_update_interval, 900000},
   {max_inbound_connections, 6},
   {outbound_gossip_connections, 2},
   {peerbook_allow_rfc1918, false},
   {relay_limit, 50}
  ]},
 {relcast,
  [
   {db_open_opts,
    [{total_threads, 4},
     {max_background_jobs, 2},
     {max_background_compactions, 2}
     %% {max_background_flushes, 2}, % not sure if needed
    ]},
   {defer_count_threshold, 30},
   {defer_time_threshold, 1000}
  ]},
 {rocksdb,

  [{global_opts,
    [
     {max_open_files, 128},
     {compaction_style, universal},
     {block_based_table_options, [{cache_index_and_filter_blocks, true}]},
     {memtable_memory_budget, 4194304},  % 32MB
     {arena_block_size, 131072}, % 128k
     {write_buffer_size, 131072},
     {db_write_buffer_size, 4194304},
     {max_write_buffer_number, 4},
     {keep_log_file_num, 5}
    ]}
  ]},
 {miner,
  [
   {use_ebus, true},
   {batch_size, 2500},
   {curve, 'SS512'},
   {block_time, 60000},
   {update_dir, "/opt/miner/update"},
   {election_interval, 30},
   {radio_device, { {127,0,0,1}, 1680,
                    {127,0,0,1}, 31341} },
   {default_routers, ["/p2p/112qB3YaH5bZkCnKA5uRH7tBtGNv2Y5B4smv1jsmvGUzgKT71QpE", "/p2p/1124CJ9yJaHq4D6ugyPCDnSBzQik61C1BqD9VMh1vsUmjwt16HNB"]},
   {mark_mods, [miner_hbbft_handler]},
   {stabilization_period_start, 187000}
  ]}
].
