%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"}
  ]},
 {blockchain,
  [
   {honor_quick_sync, false},
   {port, 0},
   {key, undefined},
   {num_consensus_members, 4},
   {base_dir, "data"},
   {seed_nodes, ""},
   {seed_node_dns, ""},
   {peerbook_update_interval, 60000},
   {peerbook_allow_rfc1918, true},
   {peer_cache_timeout, 20000}
  ]},
 {miner,
  [
   {use_ebus, false},
   {block_time, 1500},
   {election_interval, 10},
   {dkg_stop_timeout, 15000},
   {write_failed_txns, true},
   {radio_device, undefined},
   {stabilization_period_start, 2},
   %% dont perform regionalised checks in test envs
   %% we only realy need the params below if this file is changed to specify a radio device
   %% as without one miner_lora is not started
   %% including the params anyway in case someone needs it in this env
   {region_override, 'US915'}
  ]}
].
