%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"}
  ]},
{libp2p, [
           {use_dns_for_seeds, false}
         ]},
 {blockchain,
  [
   {seed_dns_cname, ""},
   {similarity_time_diff_mins, 30},
   {random_peer_pred, fun miner_util:true_predicate/1},
   {ip_confirmation_host, ""},
   {enable_nat, false},

   {gossip_version, 1},
   {testing, true},

   {honor_quick_sync, false},
   {listen_addresses, ["/ip4/0.0.0.0/tcp/0"]},
   {key, undefined},
   {num_consensus_members, 4},
   {base_dir, "data"},
   {seed_nodes, ""},
   {seed_node_dns, ""},
   {peerbook_update_interval, 60000},
   {peerbook_allow_rfc1918, true},
   {peer_cache_timeout, 20000},
   {sync_cooldown_time, 1},
   {skewed_sync_cooldown_time, 1}
  ]},
 {miner,
  [
   {mode, validator},
   {jsonrpc_port, 0},
   {use_ebus, false},
   {block_time, 500},
   {election_interval, 10},
   {dkg_stop_timeout, 15000},
   {write_failed_txns, true},
   {radio_device, undefined},
   {stabilization_period, 200},
   %% dont perform regionalised checks in test envs
   %% we only realy need the params below if this file is changed to specify a radio device
   %% as without one miner_lora is not started
   %% including the params anyway in case someone needs it in this env
   {region_override, 'US915'}
  ]}
].
