[Unit]
Description=miner instance
After=network.target

[Service]
Type=simple
ExecStart=/opt/miner/bin/miner foreground
ExecStop=/opt/miner/bin/miner stop
User=helium
PIDFile=/var/miner/miner.pid
Environment=HOME="/opt/miner"
Environment=RUNNER_LOG_DIR="/opt/miner/log"
Environment=ERL_CRASH_DUMP="/opt/miner/log"
Environment=RELX_OUT_FILE_PATH="/tmp"
LimitNOFILE=128000
LimitNPROC=128000
Restart=always

[Install]
WantedBy=multi-user.target
