% -*- erlang -*-
{erl_opts,
 [
  %%{parse_transform, lager_transform},
  nowarn_export_all,
  no_debug_info
 ]}.
{deps,
 [
  %%lager
 ]}.

{escript_incl_apps,
 [
  %%lager,
  smartgrinder
 ]}.

{escript_main_app, smartgrinder}.
{escript_name, smartgrinder}.
%% TODO do this for the shell too
{escript_emu_args,
 "%%! +sbtu +A1 "
 "-name smartgrinder@127.0.0.1 "
 "-setcookie miner\n"
}.
